.Container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.PageContainer {
  min-height: 100%;
}

@media (max-width: 1140px) {
  .Container {
    max-width: 100%;
    padding: 0px var(--container-horizontal-padding);
  }
}