.Badge {
  padding: 5px 10px;
  background: var(--light-grey-color);
  border-radius: 10px;
  width: fit-content;
  cursor: pointer;
  font-size: 20px;
  line-height: 23px;
  color: var(--primary-color);
}

@media (max-width: 767.98px) {
  .Badge {
    padding: 4px 8px; 
    font-size: 16px;
    line-height: 19px;
  }
}